.vue-audio-mixer-channel-label{
  line-height: 0.6rem;
  font-size: 0.55rem;

  display:table;
  padding:2px;
  margin-top: 5px;
  width: 100%;
  height: 30px;
  overflow: hidden;
  clear: both;
  float: left;
  color: $channel-label-text-colour;
  text-align: center;
  border: none;
  box-sizing: border-box;  
  overflow: hidden;
  label{
    word-wrap: break-word;  
    display:table-cell;
    vertical-align: middle;
    word-break: break-word;
  }
}

.logo{
  position: absolute;
  top:10px;
  left:5px;
  right:5px;
  img{
    width:100%;
  }
}


.vue-audio-mixer-channel-strip{
  background:$channel-strip-background-colour;
  position: relative;
  overflow: auto;
  display: block;
  opacity:1;
  display: inline-block;
}



.vue-audio-mixer-theme-small{
  .vue-audio-mixer-channel{
    margin-right: #{$margin-between-channels-small}px;
    width:#{$channel-width-small}px;
  }
}
.vue-audio-mixer-theme-medium{
  .vue-audio-mixer-channel{
    margin-right: #{$margin-between-channels-medium}px;
    width:#{$channel-width-medium}px;
  }
}

.with-panner{
  margin-top:40px;
}
.vue-audio-mixer-channel{


  height: #{$channel-height + 45}px; 
  padding: 5px;
  padding-top: 41px;
  box-sizing: content-box;
  position: relative;
  float: left;
  display: block;
  &:last-child { // master track 
    margin-right: 0px;
      .vue-audio-mixer-channel-label{
        background: $master-channel-label-background-colour !important;  
      }
  }    
}


.vue-audio-mixer-channel-slider{ 
  right: 17px;
  top: 40px;
  display:block; 
  float:left; 
   -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  position: absolute; 
  transform-origin: right;
}


.vue-audio-mixer-theme-small{
  .vue-audio-mixer-channel-meter-canvas{
      margin-right: #{$channel-width-small}px; 
  }
}

.vue-audio-mixer-theme-medium{
  .vue-audio-mixer-channel-meter-canvas{
      margin-right: #{$channel-width-medium}px; 
  }
}

.vue-audio-mixer-channel-meter-canvas{
  margin-left:2px;
  display:block;
  float: left;
}