.vue-audio-mixer{
  display: inline-block;

  min-width: 105px;
  overflow: auto;
  margin:0 auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  * {
      -webkit-touch-callout: none;
      -webkit-user-select: none; /* Disable selection/copy in UIWebView */
  }

}
.vue-audio-mixer-loading-hider{
  display: inline-block;
}


#vue-audio-mixer-waveform {
  width: 100% !important;
}

.vue-audio-mixer-download-mix{
  cursor: pointer;
  background-color: #bf1111;
  border-radius: 5px;
  color: white;
  padding:5px;
  margin:5px;
  outline:0 !important;
  &.recording{
  background-color: #fc9595;
  animation: anim-glow 2s ease infinite;
  -webkit-animation: anim-glow 2s ease infinite;
  -moz-animation: anim-glow 2s ease infinite;

  }
}

@keyframes anim-glow {
  0% {
    box-shadow: 0 0 rgba(#bf1111, 1);
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
